button {
	margin: 5px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #3b33ad;
	border-color: #3b33ad;
	padding: 10px;
	color: white;
	font-size: 15px;
	border-radius: 15px;


}

button:hover {
	cursor: pointer;
	background-color: #5c53dc;
}

button:active {
	background-color: #3b33ad;
}

p {
	font-size: 20px;
	color: white;
	margin-left: 15px;

}

img {
	max-width: 300px;
	margin: 15px;
}

#anime-form {
	float: right;
	margin-right: 200px;
	margin-top: 30px;
	font-size: 25px;
	color: white;
}

input {
	width: 200px;
	height: 26px;
 }

#add-anime {
	margin-top: 10px;
	font-size: 15px;
	color: white;
	background-color: #266579;
	border-color: #266579;

}

#add-anime:hover {
	cursor: pointer;
	background-color: #3a8fab
}